/* Splah img */

#about-splash-img {
    height: 100vh;
    padding: 0;
    background: url("../files/us/us.jpg") no-repeat center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h3 {
    text-align: center;
}


/* About Us */


.about-us-picture {
    background: url("../files/us/ryan-thang.jpg") no-repeat center center;
    color: #fff;
}


/* What we say */

.article-hr {
    width: 30%;
    height: 5px;
    background-color: #8619b1;
}

.quote-container {
    position: relative;
}

.quote-container blockquote {
    display: none;
    position: absolute;
    top: 0;
}

.arrows-wrraper {
    margin-top: 300px;
}

.arrows-wrraper button {
    opacity: 0.5;
    margin: 0 40px;
	color: #000000;
	outline-color: transparent;
    background: transparent;
    border: none;
}

.arrows-wrraper button:hover {
    opacity: 1;
    color: #5cb85c;
}


/* About company */



#about-company {
    background-color: #dfdfdf;
}

#map {
	border: 1px solid white;
	border-top-right-radius: 5px;
	height: 300px;
}