

/* General */

body {
	background-color: #000000;
}

main {
	height: 100%;
	background: url('../files/main-background.png') no-repeat;
	background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}
main:nth-child(2n) {  
  background-color: transparent;	
}
section {
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(0, 0, 0, 0.9);
	margin: 0;
	padding: 0;
}
.section-hr {
	background-color: #fff;    
}
.green {
	color: rgb(92,184,92);
}
	
/* Intro section */

#about-page-intro img {
	float: left;
	padding: 0 20px 20px 0;
}
.intro p a {
	color: rgb(92,184,92);
}


/* Footer */

#footer {
	background-color: rgba(0, 0, 0, 0.9);	
}



/*****************/

section header,
section .container {
	opacity: 0;
}