/* Splah img */

#about-splash-img {
    height: 100vh;
    padding: 0;
    background: url("../files/us/us.jpg") no-repeat center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-us-picture {
    background: url('../files/us/ryan-thang.jpg') no-repeat center center;
    color: #fff;
}

#about-company {
    background-color: #dfdfdf;
}