/* General Rules */

.gallery-picture {
    width: 100%;
    background-color: #000000;
}
#header {
    background: rgba(0, 0, 0, 0.7);
}

h5 {
    margin-bottom: 15px;
    font-weight: 700;
}
.white-gallery-card {
	background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
} 
label {
    font-size: 90%;
}

/* Splah img */

#gallery-splash-img {
	height: 100vh;
	padding: 0;
	background: url('../files/gallery-splash-img.jpg') no-repeat center;
	background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

/* Small Aquariums */

#small-aquariums {
    background-color: #dfdfdf;
}


/* body,
.our-work-notes {
    background-color: #000000;
} */