/* Landscape SmartPhones */

@media (min-width: 640px) and (orientation: landscape) {
    .title {
        padding-left: 120px;
    }
    .section-hr {
        width: 3%;
    }
}


/* sm Screens */

@media (min-width: 768px) {
    .title {
        padding-left: 120px;
    }
    .title h1 {
        font-size: 5em;
    }
    .title p {
        font-size: 1.5em;
    }
    .navbar-default .navbar-brand>a,
    .navbar-default .navbar-nav>li>a {
        text-align: right;
    }
    .navbar-default .navbar-nav>li>a {
        background: transparent;
    }
    .section-hr {
        width: 3%;
        margin-bottom: 100px;
    }
    /* About Us */
    #what-we-say .overlay {
        padding: 15px 0;
    }
}


/* lg Screens */

@media (min-width: 968px) {
    .title {
        text-align: left;
        top: 25%;
        left: 0%;
    }
    .title h1 {
        font-size: 7em;
    }
    .title p {
        font-size: 2em;
    }
    .navbar-default .navbar-brand>a,
    .navbar-default .navbar-nav>li>a {
        text-align: right;
    }
    .section-hr {
        width: 3%;
        margin-bottom: 100px;
    }
    .services-notes {
        margin-bottom: 0;
    }
    .about-us-text h3 {
        padding: 0 20px;
    }
    /* gallery.html */
    .box-shadow {
        box-shadow: 0 15px 10px #dfdfdf;
        padding: 10px;
        margin-bottom: 30px;
    }
    /* about-us.html */
    .article-hr {
        width: 40%;
    }
    #what-we-say,
    #what-we-say .overlay {
        padding: 15px 0;
    }
    .slide-show-wrapper {
        height: 420px;
        padding: 15px 0;
    }
}


/* xl Screens */

@media (min-width: 1400px) {
    #slide-show {
        background-attachment: fixed;
        display: flex;
        justify-content: center;
    }
    #gallery-splash-img {
        background-attachment: fixed;
    }
    #about-splash-img {
        background-attachment: fixed;
    }
    .title {
        padding-left: 0px;
        padding-right: 200px;
    }
    .title h1 {
        font-size: 7em;
    }
    .title p {
        font-size: 2em;
    }
    .navbar-default .navbar-brand>a,
    .navbar-default .navbar-nav>li>a {
        text-align: right;
        transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
    }
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: rgba(255, 255, 255, 0.6);
        background-color: transparent;
    }
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.6);
    }
    .section-hr {
        width: 3%;
        margin-bottom: 100px;
    }
    #get-in-touch {
        background-attachment: fixed;
    }
    .services-notes {
        margin-bottom: 0;
    }
    .about-us-text h3 {
        padding: 0 20px;
    }
    /* gallery.html */
    .box-shadow {
        box-shadow: 0 15px 10px #dfdfdf;
        padding: 10px;
        margin-bottom: 30px;
    }
    /* about-us.html */
    .article-hr {
        width: 40%;
    }
    #what-we-say,
    #what-we-say .overlay {
        height: 450px;
        padding: 15px 0;
    }
    .slide-show-wrapper {
        height: 420px;
        padding: 15px 100px;
    }
}