/* General */

body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #ffffff;
}
a:-webkit-any-link {
    text-decoration: none;
    opacity: 1;
	color: #000000;
}
section {
	height: auto;
	padding: 75px 0;
}
h2,
h5 {
	font-weight: 700;
}
.h2-text {
	font-weight: 400;
	text-transform: none;
}

h4 {
	font-family: "Norican", cursive;
}
.section-hr {
	margin-top: 0;
	margin-bottom: 50px;
    width: 10%;
    height: 1px;
    background-color: #000000;
    border: 0;
}

/* Header / Nav */

#header {
	position: fixed;
	width: auto;
	margin: 0 auto;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;	
}
.transparent-header {
	background-color: transparent;
}
.dark-header {
	background-color: rgba(0,0,0,0.596078);
}
#header nav {
	background-color: transparent;
	border: 0;	
	margin: 0;
}
.fa-pagelines {
	color: #5cb85c;
}
.navbar-default .navbar-brand {
	color: rgba(255, 255, 255, 0.8)	
}
.navbar-brand span {
	margin-left: 10px;
}
.navbar-default .navbar-toggle {
	border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.8);    
}
.navbar-default .navbar-nav > li > a {
	text-align: right;
	opacity: 0.75;
	background: linear-gradient(to right, transparent 60%,rgba(0,0,0,0.5) 100%);
	-webkit-background: linear-gradient(to right, transparent 60%,rgba(0,0,0,0.5) 100%);
	-moz-background: linear-gradient(to right, transparent 60%,rgba(0,0,0,0.5) 100%);
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	opacity: 1;
	color: #ffffff;	
}
.navbar-nav {
	margin-bottom: 0;
}


/* Slide Show */

#slide-show {
	height: 100vh;
	padding: 0;
	background: url('../files/100.jpg') no-repeat center center;
	background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}
.title {
	position: relative;
	top: 25%;
	padding-left: 25px;
    opacity: 0;
	margin-top: 100px;
    animation: 1s slide 1s forwards;
}
@keyframes slide {
    100% {
        opacity: 1;
        margin:0 auto;

    }
}
.title h1,
.title p,
.title button {
	margin-bottom: 30px;
}
.title h1 {
	color: rgba(255, 255, 255, 0.9);
	font-family: 'Tangerine', serif;
	font-size: 3em;
	font-weight: 500;
	text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}
.title p {
	color: rgba(255, 255, 255, 0.6);
}


 /* Moto Section */

#our-moto header {
	padding: 0px 25px 50px 25px;
}
#our-moto .row h2 {
	text-transform: uppercase;
	font-weight: 700;
}

.icon-wrapper a:-webkit-any-link h3 {
	font-weight: 700;
}
.icon-wrapper a:-webkit-any-link p {
	color: #a5a5a5;
}
.icon-wrapper {
	text-align: center;
}
.icon-border {
	background-color: #5cb85c;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin: 0 auto;
}
.about-us-background {
	color: #ffffff;
  	line-height: 75px;
  	white-space: nowrap;
}
.about-us-background-dark {
	animation-name: icon;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes icon {
	100% {
		color: #a5a5a5;
	}
}

/* Our Work Section */

#work {
	background-color: #dfdfdf;	
}
.our-work {
	padding-bottom: 10px;
}
.our-work img {
	width: 100%;
}
.modal-body-img {
	text-align: center;
}
.our-work-notes {
	padding: 25px;
	text-align: center;
	background-color: #ffffff;
}
.our-work-notes h3 {
	font-family: "Norican", cursive;
}
.our-work-notes p {
	color: #b4b4b4;
}

/* Get In Touch Section */

#get-in-touch {
	padding-top: 100px;
	padding-bottom: 100px;
	background: url('../files/large/7.jpg') no-repeat center center;
	background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

#get-in-touch h2 {
	margin-bottom: 30px;
	color: #ffffff;
	text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}
#get-in-touch a {
	background-color: transparent;
	border-color: #a5a5a5;
	border-width: 2px;
	color: #ffffff;
	font-weight: 600;
}
#get-in-touch a:hover {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

/* Services Section */

.services-notes {
	margin-bottom: 20px;
}
.services-notes i,
.services-notes p {
	color: #a5a5a5;
}
#services .container .row .section-hr {
	margin-top: 25px;
	margin-bottom: 25px;
}

/* About Us Section */

#about-us-section {
	background-color: #dfdfdf;
}
#about-us-section .container {
	background-color: #ffffff;
}
.about-us-picture {
	margin-bottom: 25px;
	height: 400px;
	width: 100%;
	background: url('../files/large/6.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}
.about-us-text {
	margin-bottom: 5px;
	background-color: #ffffff;
}
.about-us-text h3 {
	font-weight: 700;
}
#quote {
	padding-top: 25px;
}

/* Contact Us Section */

.form-group input,
.form-group textarea {
	width: 100%;
	min-height: 50px;
	padding: 10px;
	background-color: #e0dfdf;
	border: 0;
}
#contact-details h5,
#contact-details p {
	margin-bottom: 15px;
}
#submit {
	background-color: #e0dfdf;
}

/* Footer */

#footer {
	padding: 50px 0;
	background-color: #000000;	
}
#footer p,
#footer a {
	color: #ffffff;
	opacity: 0.7;
}
#footer p {
	padding-top: 20px;
}
#footer a {
	padding: 0 25px;
}
#footer a:hover {
	opacity: 1;
}
#footer-hr {
	background-color: #ffffff;
	opacity: 0.7;
}
.secreet {
	padding-bottom: 20px;
}


/* Modals */

.modal-content {
	background-color: rgba(255, 255, 255, 0.6);
}
.help-block {
	color: #000000;
}
#copyright,
#contact-me {
	padding-left: 17px;
	background-color: rgba(0, 0, 0, 0.705);
}
#copyright h2,
#contact-me h2 {
	padding: 25px 0;
	color: #ffffff;
	font-family: 'Tangerine', serif;
	font-size: 5rem;
	letter-spacing: 1.25rem;
}
#copyright h3,
#copyright p,
#contact-me p {
	color: #ffffff;
}
#copyright p,
#copyright a,
#contact-me p,
#contact-me a {
	font-size: 1.8rem;
}
#copyright a {
	color: #5cb85c;
}
#copyright h3 {
	padding-top: 50px;
}
#copyright-text {
	padding: 50px;
}
#contact-me a {
	color: #ff5e00;
}
#my-email {
	color: #5cb85c;
}